table {
    table-layout: fixed;
    font-size: 0.35em;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

tr {
    height: 4.5454%;
}

.dark-brown {
    background-color: #635332;
    color: white;
}

.light-blue {
    background-color: #79989B;
}